.wholePage {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 94%;
    background-image: url("Background.png");
    background-size: cover;
}

.homeButton {
    font-size: 15px;
    letter-spacing: 2px;
    position: absolute;
    text-decoration: none;
    margin-top: 400px;
    margin-left: 580px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: #3A5985;
    border: none;
}

.thingsFlow {
    margin-left: 260px;
    margin-top: 100px;
    position: absolute;
}