
/* ---------------------------------- Flow page css ------------------------------------ */

.App {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #618FCA;
}

.addComponent{
  visibility: hidden;
  margin-left: 10px;
}


.componentButton{
  margin-left: 170px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 2px -2px #455a6e;
  border-style: none;
  background-color: #5A7291;
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-top: 1%;
}

.componentButton:hover{
  border-style: none;
  background-color: #6982a6;
}

.componentButton:active{
  border-style: none;
  background-color: #41546b;
}

.error{
  position: absolute;
  letter-spacing: 3px;
  padding-left:22px;
  padding-right:22px;
  border-radius: 15px;
  margin-left: 18px;
  margin-top: 110px;
  background-color: rgba(255, 0, 0, 0.48);
  color: white;
}

.connect{
  position: absolute;
  background-color: #6982a6;
  opacity: 0.50;
  width: 15px;
  height: 25px;
  margin-left: 105px;
  margin-top: 53px;
  z-index: 100;
  border-radius: 10px;
}

.connect:hover{
  background-color: #3e4d5e;
}

.connect:active{
  background-color: #41546b;
}

.blocks{
  display: flex;
}

.value{
  width: 60px;
  height: 30px;
}

.leader-line {
  z-index: 0;
}

.header{
  background-color: white;
  box-shadow: 0 4px 2px -2px #5A7291;
  width: 100%;
  z-index: 100000;
  height: 3vw;
}


.text{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.logo{
  margin-left: 70px;
  position: absolute;
  z-index: 1;
  width: 7%;
  height: auto
}

.column {
  margin-top: 1vh;
  float: left;
  width: 46%;
}

.texts{
  text-align: center;
  margin-top: 1vh;
  margin-left: 40vh;
}

.column2 {
  text-align: center;
  float: left;
  padding-left: 80px;
}

.sidebar{
  border: 2px solid #5A7291;
  background-color: #81A5D5;
  position: absolute;
  width: 300px;
  height: calc(100% - 3vw - 4px);
}

.close{
  color: grey;
  font-size: 1vw;
  cursor: pointer;
  margin-left: 100%;
  font-weight: bold;
}

.close:hover{
  color: black;
}

.sidebarTitle{
  font-weight: bold;
  border-radius: 10px;
  background-color: #3A5985;
  color: white;
  padding-left: 10px;
}

.Pictures {
  margin: 10px;
}

.onBoard{
  width: 15%;
}

.fileTitle{
  font-weight: bold;
}

.fileBox{
  border: 1px solid black;
  padding: 5px;
  position: relative;
}

.submit{
  margin-left: 370px;
  margin-top: 10px;
  position: absolute;
}

.math{
  border-radius: 10px;
  box-shadow: 0 4px 2px -2px #455a6e;
  border-style: none;
  color: white;
  background-color: #3A5985;
  width: 75px;
  height: 40px;
}

.math:hover{
  border-style: none;
  background-color: #6982a6;
}

.invisible{
  visibility: hidden;
}

.math:active{
  border-style: none;
  background-color: #41546b;
}

.save{
  border-radius: 10px;
  box-shadow: 0 4px 2px -2px #455a6e;
  border-style: none;
  color: white;
  background-color: #3A5985;
  width: 75px;
  height: 40px;
}

.answerText{
  margin-top: 5px;
  background-color: #D6E3F4;
  border-radius: 2px;
  box-shadow: 0 4px 2px -2px #455a6e;
}


.sidebar img{
  box-shadow: 0 4px 2px -2px #455a6e;
  margin: 15px;
  border-radius: 10px;
}

.Board img{
  box-shadow: 0 4px 2px -2px #455a6e;
  z-index: 10;
  margin: 15px;
  border-radius: 10px;
}

.Board {
  background-color: #D6E3F4;
  box-shadow: 0 4px 3px 0px #5A7291;
  padding: 40px;
  position: absolute;
  margin-top: 90px;
  margin-left: 470px;
  width: 1300px;
  height: 600px;
  border-radius: 10px;
}

/* ---------------------------------- Home page css ------------------------------------ */

.wholePage{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 94%;
  background-image: url("background.png");
  background-size: cover;
}

.homeButton{
  font-size: 15px;
  letter-spacing: 2px;
  position: absolute;
  text-decoration: none;
  margin-top: 400px;
  margin-left: 600px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  background-color: #3A5985;
  border: none;
}

.thingsFlow{
  margin-left: 260px;
  margin-top: 100px;
  position: absolute;
}