.App {
  width: 100vw;
  height: 100vh;
  background: #618FCA;
}

.sidebar{
  border: 2px solid #5A7291;
  background-color: #81A5D5;
  position: absolute;
  width: 300px;
  height: 100%;
}

.Pictures {
  margin: 10px;

}

.onBoard{
  width: 10%;
}
.submit{
  margin-left: 1700px;
  margin-top: 10px;
  position: absolute;
}

.math{
  border-radius: 10px;
  border-style: none;
  background-color: #5A7291;
  width: 75px;
  height: 40px;
}

.math:hover{
  border-style: none;
  background-color: #D6E3F4;
}

.math:active{
  border-style: none;
  background-color: #41546b;
}

.answerText{
  margin-top: 5px;
  background-color: #D6E3F4;
}

img {
  margin: 15px;
  border-radius: 10px;
}

.Board {
  background-color: #D6E3F4;
  padding: 40px;
  position: absolute;
  margin-top: 90px;
  margin-left: 470px;
  width: 1300px;
  height: 700px;
  border-radius: 10px;
}